.container-main{
    margin-left: 15.5%;
    width: 82%;
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    background: cornsilk;


}
.detail_flexbox-item{
    margin: 7px;
    width: 542px;
    position: relative;
    background: rgb(247, 243, 243);
    
    transition: 0.02s;

}
.detail_flexbox-item:hover{
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% /0.38);
}
.quote-img img{
    
    padding: 5px;
    width: 100%;
    border-radius: 10px ;
    background: linear-gradient(to top,rgba(0,0,0,0.85),transparent);
}

.quote-text {
    /* justify-content: center; */
    text-align: center; 
    
    margin-bottom: 5px;
    position: absolute;
}
.quote-text h1{
       
    
    width: 95%;
    font-size: 20px;
    font-style: oblique;
    color: white;
    padding: 5px;
    font-weight: bold;
    bottom: 15px;
    margin-top: -55%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.quote-text p{
    text-align: center;
}
.quote-text p a{
   color: rgb(221, 210, 210);
   padding: 5px;
   font-size: 15px;
   font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-decoration: none;
  
    
}
.quote-social {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.quote-social button{
    width: 150px;
    background: black;
    color: white;
    border-radius: 15px;


}
.quote-social button:hover{
   background-color: white;
   color: black;
   border: 2px solid black;
    

}

@media screen and (max-width: 768px) {
    .container_flex {
      flex-direction: column-reverse;
    }
   

  }